<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>无标题文档</title>
<style>
	
	
</style>
<script src="https://unpkg.com/vue/dist/vue.js"></script>
</head>

<body>
<!---->
<div id="box">
	{{mseg}}
	<button @click="DivisionGet" @keyup.enter="DivisionGet">安扭</button>

</div>

<script>
	var box = new Vue({
		
		el: '#box',
		  data: {
			mseg: 'web前端开发!'
		  },
		methods:{
			DivisionGet(){
				alert("111")
			}
			
		}
		
	})
</script>	
<!---->
<div class="box2" id="box2">
	<p v-bind:title="mag">显示出来</p>
</div>

<script>
	var box2 = new Vue({
		
		el: '#box2',
		data:{
			mag: '页面加载于 ' + new Date()
		}
		
	})
</script>
<!---->

<div id="box3">
	<p v-if="seen">显示中</p>
</div>

<script>
	var box3 = new Vue({
		
		el: "#box3",
		data:{
			seen:false
		}
		
	})
	
</script>
<!---->
<div id="box4">
	<ul>
		<li v-for="todo in todos">
			{{todo.text}}
		</li>
	</ul>
</div>

<script>
	var box4 = new Vue({
		
		el:"#box4",
		data:{
			todos:[
				{text:"1"},
				{text:"2"},
				{text:"3"}
			]
		}
		
	})
</script>

<!---->
<div id="box5">
	<p>{{massage}}</p>
	<button v-on:click="removermsg">点击</button>
</div>

<script>
	var box5 = new Vue({
		
		el:"#box5",
		data:{
			massage:"一句话说明"
		},
		methods: {
		removermsg: function () {
		  this.massage = this.massage.split('').reverse().join('')
		}
	  }

	})
</script>

<!--	-->
<div id="box6">
	<p>{{massage}}</p>
	<input v-model="massage">
</div>	

<script>
	var box6 = new Vue({
		el:"#box6",
		data:{
			massage:"要一句字"
		}
		
	})
	
</script>	
	
<!--	-->
<div id="box7">
	<ul>
		<todo-item v-for="item in list" v-bind:todo="item"></todo-item>
	</ul>	
</div>	
	
<script>
	Vue.component('todo-item',{
		props:['todo'],
		template:'<li>{{todo.text}}</li>'
	})
	
	var box7 = new Vue({
		el:'#box7',
		data:{
			list:[
				{text:'123'},
				{text:'456'}
			]
		}
	})
	
</script>	


</body>
</html>
